sentence-transformers
faiss-cpu
streamlit
requests
arxiv
markdown-it-py[plugins]
markdownify
qdrant-client>=1.1.1
numpy==1.26.4 # more compatible with qdrant
pyaml-env
black
qdrant_client

#unstructured
#milvus
#pymilvus
#openai
#transformers
#beautifulsoup4


